{
  "presets": [
    [
      "env",
      {
        "browsers": [">1%", "last 4 versions", "IE 10"]
      }
    ],
    "react",
    "stage-1"
  ],
  "plugins": ["react-hot-loader/babel"],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs", "dynamic-import-node"]
    }
  }
}
